---
import Container from "../components/Container.astro"
import QrDemo from "../components/QrDemo.astro"
import Layout from "../layouts/Page.astro"

const seo = {
  title: "Online QR Generator & API - Create Custom QR Codes Easily",
  description:
    "Easily generate custom QR codes with our Online QR Generator & API. Download or integrate into your site/app with a single line of code. Perfect for developers and businesses.",
  canonicalURL: "https://online-qr.com",
  image: "https://online-qr.com/favicon.ico",
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <QrDemo />
      <h3 class="fade-in">Coming Soon...</h3>
      <!-- <p class="fade-in">Be the first to know when our new site is live!</p> -->
      <!-- <SignupForm /> -->
    </article>
  </Container>
</Layout>
