---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';
import QrDemo from '../components/QrDemo.astro';

const seo = {
  title: 'Online QR Generator & Endpoint | QR with a single line of code',
  description: 'Easily generate your custom QR Code | Download or add to your site/app with <img /> or a single line of code',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <QrDemo />
      <h3 class="fade-in">Coming Soon...</h3>
      <!-- <p class="fade-in">Be the first to know when our new site is live!</p> -->
      <!-- <SignupForm /> -->
    </article>
  </Container>
</Layout>

