---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<div style="width: 80%; height: auto;">
  <LottieAnimation src="https://lottie.host/01d40cc1-b498-4ed3-8895-722c7d5e02e2/OvV4aAppzT.json" background="##ffffff" speed="1" style="width: 300px; height: 300px" loop controls autoplay="visible" direction="1" mode="normal" />
</div>